<!DOCTYPE html>
<html lang="en">
<head>
  <title>MobileNet-v3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    img {
      width:100%;
    }

    .container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    .left-right-div {
      width: 50vw;
      padding: 1%;
      margin: 1%;
    }
  </style>
</head>
<body>

<div class="jumbotron text-center">
  <h1>MobileNet-v3</h1>
  <p>This application serves object classification results from <a href='https://tfhub.dev/google/lite-model/imagenet/mobilenet_v3_large_100_224/classification/5/metadata/1' >MobileNet-v3</a></p> 
</div>
  
<div class="container">
  <div class="left-right-div">
    <h2>Manual Workflow</h2>
    <h4>{{ status_msg }}</h4>
    <br>
    <h4>{{ pred_name }}</h4>
    <h4>{{ pred_score }}</h4>
    <form method="post" enctype="multipart/form-data">
      <p>
        <input type="file" id="file" name="file">
        <input type=submit value="Upload and Classify">
      </p>
    </form>
    <img src="{{ img_data }}" id="img-upload" alt="img_data" class="img-upload"/>
    <br>
    <br>
  </div>
  <div class="left-right-div">
    <h2>API Request Workflow</h2>
    <h4>Using Python to access https://{HOST}<b>/predict</b></h4>
    <pre><code>
import base64
import json                    
import requests

api_url = 'http://127.0.0.1:8080/predict'

with open('./data/pheasant.jpg', "rb") as f:
    im_bytes = f.read()

im_b64 = base64.b64encode(im_bytes).decode("utf8")      
payload = json.dumps({
    "image_b64": im_b64,    # required: b64 encoded image
})

headers = {'Content-type': 'application/json', 'Accept': 'text/plain'}

response = requests.post(api_url, data=payload, headers=headers)
data = response.json()
    </code></pre>
    <h4>Returns:</h4>
    <pre><code>
{
  'classifications': [
    [
      {
        'category_name': 'prairie chicken',
        'display_name': '',
        'index': 84,
        'score': 8.029284477233887,
      },
      ...
    ],
  ]
}
    </code></pre>
  </div>

</div>
</body>
</html>