<!DOCTYPE html>
<html lang="en">
<head>
  <title>MobileNet-v3</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
</head>
<body>

<div class="jumbotron text-center">
  <h1>MobileNet-v3</h1>
  <p>This application serves object classification results from <a href='https://tfhub.dev/google/lite-model/imagenet/mobilenet_v3_large_100_224/classification/5/metadata/1' >MobileNet-v3</a></p> 
</div>
  
<div class="container">
    <h4>{{ status_msg }}</h4>
    <br>
    <h4>{{ pred_name }}</h4>
    <h4>{{ pred_score }}</h4>
    <form method="post" enctype="multipart/form-data">
      <p>
        <input type="file" id="file" name="file">
        <input type=submit value="Upload and Classify">
      </p>
    </form>
    <img src="{{ img_data }}" id="img-upload" alt="img_data" class="img-upload"/>
    <br>
    <br>

</div>
</body>
</html>